@import './mixin';
/* ===========================================================================================
      visual
=========================================================================================== */
#visual {
    margin-top: $headerHeight;
    position: relative;
    height: 60rem;
    overflow:hidden;
    .visualItem {
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
         &.visual1 {
            background-image:url(https://tesla-cdn.thron.com/delivery/public/image/tesla/0f22af4d-15e0-452d-ba66-1359490b4a0b/bvlatuR/std/2880x1800/Cybertruck-Hero-Desktop);
         }
         &.visual2 {
            background-image:url(https://tesla-cdn.thron.com/delivery/public/image/tesla/03e533bf-8b1d-463f-9813-9a597aafb280/bvlatuR/std/4096x2560/M3-Homepage-Desktop-LHD);
         }
         &.visual3 {
            background-image:url(https://tesla-cdn.thron.com/delivery/public/image/tesla/ddc135ed-1638-40fb-8ab1-f8045059ecef/bvlatuR/std/4096x2560/Homepage-Model-X-Desktop-LHD);
         }
         &.visual4 {
            background-image:url(https://tesla-cdn.thron.com/delivery/public/image/tesla/538ac149-d103-4834-9d38-641d8ae447ef/bvlatuR/std/4096x2560/Homepage-Model-S-Desktop-LHD);
         }
        .visualTitle {
            position: absolute;
            width:100%;
            top:50%;
            transform: translateY(-50%);
            h3 {
                font-size:4rem;
            }
            p {
                font-size:2.4rem;
                margin:2rem 0;
            }
        }
    }
    .visualArea,
    .slick-list,
    .slick-track {
        height: 100%;
    }

}
/* ===========================================================================================
      main
=========================================================================================== */
/* section */
.section {
   padding: 10rem 0;
}

/* ===========================================================================================
   media query
=========================================================================================== */
/* max-width */
@media (max-width: $container) {
   /* ===========================================================================================
         visual
   =========================================================================================== */
   .visualContents {padding:0 4rem;}
}
@media (max-width: $pad) {
   .visualContents {padding:0}
}